<form action="/mountains" method="post">
	<label for="name">Mountain</label>
	<input type="text" name='name' id='name' placeholder='E.g. Mount Everest'>
	<label for="height">Height</label>
	<input type="text" name='height' id='height' placeholder='Height in m'>
	<label for="country">Country</label>
	<input type="text" name='country' id='country' placeholder='Country'>
	<label for="first_ascent">First Ascent</label>
	<input type="text" name='first_ascent' id='first_ascent' placeholder='Year'>
	<label for="image">Image</label>
	<input type="text" name='image' id='image' placeholder='Image URL'>

	<button>Save New Mountain</button>

</form>