<h1>These are the games you can choose from</h1>

<nav>
	<ul>
		<a href="/magic_8">Magic 8</a>
		<a href="/secret_number">Secret Number</a>
		<a href="games/rock_paper_scissors">Rock Paper Scissors</a>
	</ul>
</nav>