<form action="/games/rock_paper_scissors">
	<button name='throw' value='rock'>Rock</button>
	<button name='throw' value='paper'>Paper</button>
	<button name='throw' value='scissors'>Scissors</button>
</form>

<% if @throw %>
	<p>Result: <%= @result %></p>
<% end %>